<div class="container">

<div class="global">
    
      <div class="intro">
        <h2>uniform</h2>
        <p>L'inscription devient plus simple</p>
        <p>Un seul formulaire pour toutes les écoles</p>
        <p>Gérez facilement vos candidatures</p>
        <p>Stockez vos données scokaires</p>
      </div>
  
    <div class="form">

      <div class ="top">
        <p>Entrez vos identifiants</p>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <div class="actions">
        <%= f.submit "Sign up" %>
        </div>
        <p> Mot de passe oublié ?</p>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>

      <div class="bottom">
        <p>Créer un compte</p>
      </div>
    </div>
  </div>
</div>