<div class="container">

<div class="global">
    
      <div class="intro">
        <h2>UNIFORM</h2>
        <p> L'inscription devient plus simple</p>
        <p><i class="far fa-file"></i>Un seul formulaire pour toutes les écoles</p>
        <p>Gérez facilement vos candidatures</p>
        <p><i class="fas fa-cloud"></i>Stockez vos données scolaires</p>
      </div>
  
    <div class="form">

      <div class ="top">
        <p>Entrez vos identifiants</p>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Adresse email" %>
        </div>

        <div class="field">
        <%= f.password_field :password, autocomplete: "off", placeholder: "Mot de passe" %>
        </div>
        </br>
        <div class="actions">
        <%= f.submit "Sign up" %>
        </div>
        <p> Mot de passe oublié ?</p>
        <% end %>

      </div>

      <div class="bottom">
        <p>Créer un compte</p>
      </div>
    </div>
  </div>
</div>